@tailwind base;
@tailwind components;
@tailwind utilities;

.SidebarHeight {
  height: calc(100vh - 120px);
}

.OthersContent {
  margin-top: 0;
}
@media only screen and (max-width: 1890px) and (min-width: 1024px) {
  .Container {
    margin-left: 256px;
    width: calc(100% - 256px) !important;
  }
}

@media screen and (min-width: 1024px) {
  .OthersContent {
    margin-top: calc(-100vh + 120px);
  }
}
